{% comment %}
	Start the desktop & desktop-xl nav
	▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
{% endcomment %}
<nav id="nav_desktop_click-enabled" class="navGlobal navGlobal--desktop">
    <a href="{{env}}" class="navGlobal__button">Home</a>
    <a href="{{env}}/404" class="navGlobal__button">404</a>
    {% for page in site.legal %}
        <a href="{{env}}{{page.url}}" class="navGlobal__button">{{page.title}}</a>
    {% endfor %}
    </ul>
</nav>


{% comment %}
    Start the mobile & tablet nav
    ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

{% endcomment %}
<nav id="nav_mobile_tablet_touch-enabled" class="navGlobal navGlobal--mobileTablet">
    <a href="{{env}}" class="navGlobal__button">Home</a>
    <a href="{{env}}/404" class="navGlobal__button">404</a>
    {% for page in site.legal %}
        <a href="{{env}}{{page.url}}" class="navGlobal__button">{{page.title}}</a>
    {% endfor %}
    </ul>
</nav>
