	{% if jekyll.environment == 'dev' %}
		{% assign env = {{site.urlDev}} %}
		{% elsif jekyll.environment == 'stage' %}
		{% assign env = {{site.urlStage}} %}
	{% else %}
		{% assign env = {{site.url}} %}
	{% endif %}
	{% capture var_canonical %}{{ env }}{{ page.url | append:' ' | replace:'/ ','' }}{% endcapture %}
	{% capture var_timeNow %}{{ 'now' | date: "%Y" }}{% endcapture %}

	{% if page.collection %}
		{% assign var_collection = page.collection | capitalize %}
	{% else %}
		{% capture var_collection %}
			{{ include.collection | capitalize }}
		{% endcapture %}
	{% endif %}

	{% assign min = 0 %}
	{% assign max = 999 %}
	{% assign diff = max | minus: min %}
	{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

	{% capture var_title %}{% if page.meta.title %}{{ page.meta.title }} | {{ var_collection }} | {{ site.meta.title }}{% elsif
		site.meta.title %}{{ site.meta.title }}{% endif %}{% endcapture %}
	<meta charset="UTF-8">
	{% comment %} Global metadata {% endcomment %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
	<meta name="copyright" content="&copy;{{ var_timeNow }} {{ site.meta.author }}">
	<meta name="robots" content="{{ site.meta.robots }}">
	<meta name="theme-color" content="{{ site.meta.theme_color }}">
	<meta name="author" content="{{ site.meta.author }}">
	<meta name="application-name" content="{{ site.meta.app_name }}">
	{% if page.meta.keywords %}
		<meta name="description" content="{{ page.meta.description }}">
		<meta name="keywords" content="{{ page.meta.keywords }}">
		{% elsif site.meta.keywords %}
		<meta name="description" content="{{ site.meta.description }}">
		<meta name="keywords" content="{{ site.meta.keywords }}">
	{% endif %}
	<title>{{ var_title }}</title>
	<link rel="mask-icon" href="{{ env }}{{ site.meta.iconURL }}safari-pinned-tab.svg?v={{ randomNumber }}"
		  color="{{ site.meta.theme_color }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ env }}{{ site.meta.iconURL }}apple-touch-icon-180x180.png?v={{ randomNumber }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ env }}{{ site.meta.iconURL }}apple-touch-icon-152x152.png?v={{ randomNumber }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ env }}{{ site.meta.iconURL }}apple-touch-icon-144x144.png?v={{ randomNumber }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ env }}{{ site.meta.iconURL }}apple-touch-icon-120x120.png?v={{ randomNumber }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.meta.iconURL }}apple-touch-icon-114x114.png?v={{ randomNumber }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ env }}{{ site.meta.iconURL }}apple-touch-icon-76x76.png?v={{ randomNumber }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ env }}{{ site.meta.iconURL }}apple-touch-icon-72x72.png?v={{ randomNumber }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ env }}{{ site.meta.iconURL }}apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ env }}{{ site.meta.iconURL }}apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="{{ env }}{{ site.meta.iconURL }}android-chrome-192x192.png?v={{ randomNumber }}" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ env }}{{ site.meta.iconURL }}favicon-32x32.png?v={{ randomNumber }}" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ env }}{{ site.meta.iconURL }}favicon-16x16.png?v={{ randomNumber }}" sizes="16x16">
	<link rel="manifest" href="{{ env }}{{ site.meta.iconURL }}manifest.json?v={{ randomNumber }}">
	<link rel="shortcut icon" href="{{ env }}{{ site.meta.iconURL }}favicon.ico?v={{ randomNumber }}">
	<link rel="stylesheet" href="{{ env }}/css/main.css?v={{ randomNumber }}">